mixin sServices(data)
	// start sServices
	+b.SECTION.sServices.section#sServices&attributes(attributes)
		.container
			h2 Выберите услугу
			mixin item(title, text, service='Что входит в&nbsp;услугу?', ...items)
				+e.item
					+e.item-head-row.row
						.col: h4!=title
						.col-auto: span.badge.badge-primary Для квартиры
					+e.text!= text
					table
						thead
							tr
								th Услуга 
								th СРОКИ
								th СТОИМОСТЬ
						block 
					+e.list-head!= service
					ul
						each item in items
							li!=item
					+e.btn.btn.btn-outline-primary(href='#') Получить услугу
			.tabs
				.tabs__caption.swiper.breadcrumb-slider--js
					.swiper-wrapper
						.tabs__btn.swiper-slide.active Планируемая перепланировка
						.tabs__btn.swiper-slide Перепланировка уже выполнена
				.tabs__content.active
					+e.row.row
						.col-lg-6
							+item('Разработка проекта перепланировки', 'Все документы пришлем вам на&nbsp;электронную почту с&nbsp;нашей электронной подписью. Если нужны бумажные копии, отдадим в&nbsp;офисе или пришлем с&nbsp;курьером.', 'Что входит в&nbsp;услугу?', 'Выезд инженера для проведения обследования.', 'Отрисовка результатов обследования, масштабирование, наложение на&nbsp;технический паспорт БТИ, подробный анализ.', 'Разработка проектной документации', 'Выезд инженера для проведения авторского надзора по&nbsp;окончанию строительно-монтажных работ.', 'Подготовка актов на&nbsp;скрытые работы и&nbsp;акта о&nbsp;завершенном переустройстве.')
								tr
									td Проект перепланировки
									td от 3 дней
									td от 25 000₽
								tr
									td Техническое заключение
									td от 5 дней
									td от 25 000₽
						.col-lg-6
							+item('Проекта перепланировки и&nbsp;согласование', 'Все документы пришлем вам на&nbsp;электронную почту с&nbsp;нашей электронной подписью. Если нужны бумажные копии, отдадим в&nbsp;офисе или пришлем с&nbsp;курьером.', 'Что входит в&nbsp;услугу?', 'Разработаем проект перепланировки и&nbsp;техническое заключение', 'Закажем техпаспорт БТИ и&nbsp;остальные документы для согласования.', 'Составим доверенность и&nbsp;отправим заявления и&nbsp;документы в&nbsp;Мосжилинспекцию.', 'Получим разрешение Мосжилинспекции, акт о&nbsp;завершённом переустройстве и&nbsp;новый паспорт БТИ.')
								tr
									td Проект перепланировки
									td от 3 дней
									td от 25 000₽
								tr
									td Техническое заключение
									td от 5 дней
									td от 25 000₽
								tr
									td Согласование
									td от 5 дней
									td от 40 000₽
						.col-lg-6
							+item('Проекта перепланировки, согласование и&nbsp;технадзор', 'Все документы пришлем вам на&nbsp;электронную почту с&nbsp;нашей электронной подписью. Если нужны бумажные копии, отдадим в&nbsp;офисе или пришлем с&nbsp;курьером.', 'Что входит в&nbsp;услугу?', 'Разработаем проект перепланировки и&nbsp;техническое заключение', 'Закажем техпаспорт БТИ и&nbsp;остальные документы для согласования.', 'Составим доверенность и&nbsp;отправим заявления и&nbsp;документы в&nbsp;Мосжилинспекцию.', 'Проследим за&nbsp;вашими строителями.', 'Получим разрешение Мосжилинспекции, акт о&nbsp;завершённом переустройстве и&nbsp;новый паспорт БТИ.')
								tr
									td Проект перепланировки
									td от 3 дней
									td от 25 000₽
								tr
									td Техническое заключение
									td от 3 дней
									td от 25 000₽
								tr
									td Согласование
									td от 5 дней
									td от 40 000₽
								tr
									td Технический надзор
									td от 30 дней
									td от 40 000₽
						.col-lg-6
							+item('Дополнительные услуги', 'Все документы пришлем вам на&nbsp;электронную почту с&nbsp;нашей электронной подписью. Если нужны бумажные копии, отдадим в&nbsp;офисе или пришлем с&nbsp;курьером.', 'В&nbsp;каких случаях требуется?', 'Собрания собственников&nbsp;&mdash; понадобится в&nbsp;случае работ с&nbsp;фасадом здания, или в&nbsp;случае затрагивания общего имущества собственников многоквартирного дома.', 'Конструктивные расчеты&nbsp;&mdash; если вы&nbsp;планируете производить работы, связанные с&nbsp;затрагиванием несущих конструкций или перекрытий, устройством антресольного этажа&nbsp;&mdash; мы&nbsp;произведем для вас расчеты нагрузок', 'Алмазная резка и&nbsp;усиление проемов&nbsp;&mdash; выполняется для усиления проемов в&nbsp;несущих стенах и&nbsp;перекрытиях.')
								tr
									td Собрание с собственниками
									td от 30 дней
									td от 10 000₽
								tr
									td Разработка инженерных проектов
									td от 30 дней
									td от 25 000₽
								tr
									td Конструктивные расчеты
									td от 30 дней
									td от 25 000₽
								tr
									td Алмазная резка и усиление проемов
									td от 30 дней
									td от 20 000₽
				.tabs__content 2
	// end sServices