mixin footer()
	+b.FOOTER.footer.section.bg-wrap
		.container
			+e.top
				+e.row.row
					.col-md-6.col-lg-4.col-xl-auto
						mixin list(h)
							+e.list
								h6!= h
								ul
									block
						+list(`Квартиры`)
							li: a(href="#") Согласование перепланировки
							li: a(href="#") Перепланировка апартаментов
							li: a(href="#") Узаконить выполнненую перепланирвоку
							li: a(href="#") Перепланировка в новостройке
							li: a(href="#") Перепланировка квартиры в&nbsp;МО
							li: a(href="#") Разработка проектной документации
							li: a(href="#") Изготовление технических планов
							li: a(href="#") Согласование проема в&nbsp;несущей стене
							li: a(href="#") Объединение комнаты с&nbsp;кухней
							li: a(href="#") Объединение санузла
							li: a(href="#") Приемка квартир в&nbsp;новостройке
					.col-md-6.col-lg-4.col-xl-auto
						+list(`Нежилые помещения`)
							li: a(href="#") &mdash;&nbsp;Перепланировка нежилых помещений
							li: a(href="#") &mdash;&nbsp;Перепланировка помещения &laquo;Под ключ&raquo;
							li: a(href="#") &mdash;&nbsp;Перевод из&nbsp;нежилого в&nbsp;жилое
							li: a(href="#") &mdash;&nbsp;Перевод из&nbsp;жилого в&nbsp;нежилое
						+list(`Прилегающая территория`)
							li: a(href="#") &mdash;&nbsp;Переустройство входной группы
							li: a(href="#") &mdash;&nbsp;Переустройство фасадов здания
						+list(`Авторский надзор`)
							li: a(href="#") &mdash;&nbsp;Контроль соответствия выполняемых работ по&nbsp;перепланировке
					.col-md-12.col-lg-4.col-xl-auto
						+list(`Согласование`)
							li: a(href="#") Согласование в&nbsp;БТИ
							li: a(href="#") Согласование в&nbsp;Мосжилинспекции
							li: a(href="#") Согласование в&nbsp;Росреестре
							li: a(href="#") Согласование в&nbsp;Роспотребнадзоре
							li: a(href="#") Согласование в&nbsp;ДГИ
							li: a(href="#") Согласование в&nbsp;Стройнадзоре
							li: a(href="#") Согласование в&nbsp;Москомархитектуре
							li: a(href="#") Согласование в&nbsp;Мосгаз
						+list(`Самовольная постройка`)
							li: a(href="#") Узаканивание самовольной постройки
							li: a(href="#") Исключение из&nbsp;819&nbsp;пп
							