mixin footer()
	+b.FOOTER.footer.section.bg-wrap
		+e.img-wrap.picture-bg: +img('img/footer-bg.jpg', 'bg')
		.container
			+e.row.row
				.col-sm-6.col-md-4
					+e.item
						+icon('tel-solid')
						span Alexandra Zinnmann
						a(href="tel:+491732034066").h3 Tel: +49 173 203 40 66 
						+e.email-link(href="mailto:zinnmann@international-office-solingen.de") Zinnmann@international-office-solingen.de
				.col-sm-6.col-md-4
					+e.item
						+icon('person')
						span Reception
						a(href="tel:+492125476913").h3 Tel: + 49 212 547 69 13
				.col-sm-6.col-md-4
					+e.item
						+icon('tel-solid')
						span Maria Shafir
						a(href="tel:+491775404270").h3 Tel: +49 177 540 42 70 
						+e.email-link(href="mailto:schafir@international-office-solingen.de") Schafir@international-office-solingen.de
			+e.inner-row.row
				.col-sm-6.col-md-4.order-sm-1.order-md-1
					+e.logo(href="/"): +img('img/logo-2.png')
				.col-sm-6.col-md-4.order-sm-3.order-md-2
					+e.address Gotenstraße 1, 42653 Solingen NRW / Deutschland
					+e.soc
						span Get connected:
						+soc
							+item-sos('fb', 'https://www.facebook.com/International-Office-Klinikum-Solingen-113813374668413/?paipv=0&eav=AfZFdIRJiZPDZP3vsQa84MOxUEd8KOy-B75aKWF_hBhQvo9vva2HMQ0Dc7wFASvt_V8')
				.col-sm-6.col-md-4.order-sm-2.order-md-3
					+e.contacts
						+e.tel(href='tel:+492125476913') Tel: + 49 212 547 69 13
						+e.request(href='#') Request a call
						+e.email(href='mailto:info@international-office-solingen.de') info@international-office-solingen.de