mixin sBlogBlock(data)
	// start sBlogBlock
	+b.SECTION.sBlogBlock.section#sBlogBlock&attributes(attributes)
		.container
			+b.section-title
				h2 Блог
				p Подписывайтесь на&nbsp;наш Telegram-канал там мы&nbsp;публикуем полезную информацию из&nbsp;мира перепланировок
			.grid 
				//- .grid--js 
				mixin item(img, title, subtitle, text, order)
					+e.wrap(href='#')
						if img
							+e.img-wrap: +img(`img/${img}`, 'bg')
						h6(class=(order ? 'order-first' : ""))!= title
						if subtitle
							span!= subtitle
						p!= text
				.grid__item
					+item('sBlock-img-1.jpg', 'Французские окна', 'Особенности согласования', 'Принимая во&nbsp;внимание показатели успешности, современная методология разработки говорит о&nbsp;возможностях позиций, занимаемых участниками в&nbsp;отношении поставленных задач. Господа, начало повседневной работы по&nbsp;формированию позиции требует анализа системы массового участия.')
				.grid__item.grid__item--width
					+item('sBlock-img-2.jpg', 'Согласование уже выполненной перепланировки в 2023 году', '', 'Принимая во&nbsp;внимание показатели успешности, современная методология разработки говорит о&nbsp;возможностях позиций, занимаемых участниками в&nbsp;отношении поставленных задач. Господа, начало повседневной работы по&nbsp;формированию позиции требует анализа системы массового участия.')
				.grid__item 
					+item('', 'Перепланировка в новостройке', 'Частые ошибки', 'Принимая во&nbsp;внимание показатели успешности, современная методология разработки говорит о&nbsp;возможностях позиций, занимаемых участниками в&nbsp;отношении поставленных задач. Господа, начало повседневной работы по&nbsp;формированию позиции требует анализа системы массового участия.')
				.grid__item 
					+item('sBlock-img-3.jpg', 'Объединение санузла', '', 'Таким образом, начало повседневной работы по&nbsp;формированию позиции требует определения и&nbsp;уточнения поэтапного и&nbsp;последовательного развития общества.', 'order')
				.grid__item 
					+item('', 'Объединение комнат', '', 'Таким образом, начало повседневной работы по&nbsp;формированию позиции требует определения')
				.grid__item 
					+item('', 'Согласование перепланировки в&nbsp;Московской области', 'Преимущества', 'Таким образом, начало повседневной работы по&nbsp;формированию позиции требует определения и&nbsp;уточнения поэтапного и&nbsp;последовательного развития общества.')
			.gray-outline-btn.btn.btn-outline-dark(href='#') 
				| Больше новостей в Telegram-канале
				+img('img/svg/telegram2.svg')
	// end sBlogBlock