// start .sBlogBlock
.sBlogBlock {
	--sPT: #{rem(30)};
	--sPB: #{rem(30)};
	--sTPB: #{rem(30)};
	background-color:#F8F8F9;
	@include media-breakpoint-up(lg) {
		--sPT: #{rem(60)};
		--sPB: #{rem(75)};
		--sTPB: #{rem(45)};
	}
	&__row{
		// --bs-gutter-x: #{rem()};
		// --bs-gutter-y: #{rem()};

	}
	.section-title{
		
	}
	&__col{

	}
	.grid {
		display: grid;
		@include roww('18px');
		--bs-gutter-y: #{rem(18)};
		margin-top: calc(var(--bs-gutter-y) * -1);
		margin-bottom: rem(27);
		&__item {
			--defColum: calc(100% / 1);
			width: var(--defColum);
			margin-top: var(--bs-gutter-y);
			@include media-breakpoint-up(sm) {
				--defColum: calc(100% / 2);
			}
			@include media-breakpoint-up(lg) {
				--defColum: calc(100% / 3);
			}
			.row {
				--bs-gutter-y: #{rem(18)};
			}
			&--width {
				width: 100%;
				@include media-breakpoint-up(sm) {
					width: calc(100% - var(--defColum));
				}
				.sBlogBlock {
					&__wrap {
						p {
							max-width: none;
						}
					}
					&__img-wrap {
						@include media-breakpoint-up(lg) {
							--ratio: 713/210;
						}
					}
				}
			}
		}
	}
	&__wrap {
		display: block;
		background-color: #fff;
		padding: rem(25) rem(18);
		border-radius: 30px;
		&:hover {
			img {
				transform: scale(1.1);
			}
			p {
				color: $gray-300;
			}
		}
		@include media-breakpoint-up(sm) {
			padding: rem(35) rem(25);
		}
		h6 {
			line-height: 1.2;
			margin-bottom: rem(5);
			color: $gray-900;
			@include media-breakpoint-down(sm) {
				font-size: rem(18);
			}
		}
		span {
			display: inline-block;
			font-size: rem(14);
			font-weight: 400;
			line-height: 1.21;
			color: #666666;
			margin-bottom: rem(20);
		}
		p {
			@include mt;
			margin-bottom: 0;
			max-width: rem(276);
			line-height: 1.21;
			color: #666666;
			@include media-breakpoint-up(lg) {
				font-size: rem(14);
			}
		}
	}
	&__img-wrap {
		display: block;
		position: relative;
		--ratio: 310/210; 
		aspect-ratio: var(--ratio);
		border-radius: 30px;
		overflow: hidden;
		margin-bottom: rem(12);
		img {
			@include mt;
		}
	}
	&__btn {
		--bs-btn-color: #434242;
    --bs-btn-border-color: #{$gray-300};
		@include media-breakpoint-up(lg) {
			--bs-btn-font-size: #{rem(18)};
			--bs-btn-padding-y: #{rem(23)};
		}

		display: flex;
		align-items: center;
		width: 100%;
		text-align: center;
		justify-content: center;
		svg {
			flex: 0 0 auto;
			margin-left: rem(10);
		}
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sBlogBlock