mixin sForm()
	// start sForm
	+b.SECTION.sForm.section#sForm&attributes(attributes)
		+form-wrap
			.text-center
				.h5 Бесплатная консультация
				p Оставьте заявку и наш специалист свяжется с вами в ближайшее время 
			+input("Имя",'text')
			+input("Телефон",'tel')
			+input("Способ связи",'text')
			+e.btn.btn.btn-primary(type="submit") Получить консультацию
			+policy
	// end sForm