
	// start .sContact
	.sContact {
	--sPT: #{rem(30)};
	--sPB: #{rem(30)};
	--sTPB: #{rem(22)};
	@include media-breakpoint-up(lg) {
		--sPT: #{rem(75)};
		--sPB: #{rem(75)};
		--sTPB: #{rem(37)};
	}
	&__row{
		--bs-gutter-x: #{rem(20)};
		--bs-gutter-y: #{rem(18)};

		margin-bottom: rem(20);
		@include media-breakpoint-up(lg) {
			margin-bottom: rem(43);
		}
		@include media-breakpoint-up(xl) {
			--bs-gutter-x: #{rem(80)};
		}
	}
	.section-title{
		
	}
	&__col{

	}
	&__wrap {
		padding: rem(18);
		border: 1px dashed #C4C4C4;
		border-radius: 30px;
		height: 100%;
		display: flex;
    align-items: center;
		@include media-breakpoint-up(lg) {
			padding: rem(25) rem(32);
		}
	}
	&__item {
		position: relative;
		padding-left: rem(48);
		@include media-breakpoint-up(xl) {
			padding-left: rem(58);
		}
		img {
			width: 100%;
			max-width: rem(24);
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
			@include media-breakpoint-up(xl) {
				max-width: rem(38);
			}
		}
		span {
			display: block;
		}
	}
	&__link {
		font-weight: 700;
		color: $gray-900;
		font-size: rem(16);
		&[href] {
			font-size: rem(16);
			font-weight: 600;
			@include media-breakpoint-up(xl) {
				font-size: rem(22);
			}
			&:hover {
				color: $primary;
			}
		}
	}
	&__map {
		@include block(1182, 300);
		& > * {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
		}
	}
	&__body-row {
		--bs-gutter-y: #{rem(18)};
		margin-bottom: rem(20);
		@include media-breakpoint-up(lg) {
			margin-bottom: rem(42);
		}
	}
	&__col {
		@include media-breakpoint-up(lg) {
			max-width: rem(838);
		}
	}
	&__have-question {
		max-width: rem(232);
		h5 {
			margin-bottom: rem(3);
		}
		p {
			margin-bottom: rem(14);
			font-weight: 400;
		}
	}
	&__btn {
		width: 100%;
		--bs-btn-font-weight: 700;
		margin-bottom: rem(12);
		@include media-breakpoint-up(lg) {
			--bs-btn-font-size: #{rem(20)};
		}
	}
	.soc {
		&__item {
			width: rem(36);
			height: rem(36);
			background-color: #F6F6F6;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 12px;
			&:hover {
				background-color: $gray-400;
			}
			.icon {
				flex: 0 0 auto;
				font-size: rem(16);
				&-telegram {
					color: #40B3E0;
				}
			}
			svg {
				flex: 0 0 auto;
				font-size: rem(16);
				width: 1em;
				height: 1em;
			}
		}
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(xs) {} 

} // end.sContact