mixin sContact()
	// start sContact
	+b.SECTION.sContact.section#sContact&attributes(attributes)
		.container
			+b.section-title
				h2 Контакты 
			mixin wrap()
				+e.wrap 
					block
			+e.row.row
				.col-md-6.col-lg.col-xl-auto
					+wrap()
						+e.item
							+icon('phone-call')
							div
								span Отдел продаж:
								+e.link(href="tel:+74956645680") +7 (495)664 56 80 
				.col-md-6.col-lg.col-xl
					+wrap()
						+e.item
							+icon('mail')
							div
								span E-mail:
								+e.link(href="mailto:info@pryamoepravo.ru") info@pryamoepravo.ru
				.col-md-6.col-lg.col-xl-auto
					+wrap()
						+e.item
							+icon('clock')
							div
								span Время работы:
								+e.link Пн-вс: 10:00 — 18:00
			+e.body-row.row
				+e.col.col-lg
					+wrap()
						div
							h5 ООО «ТЕХСТРОЙЭКСПЕРТ»
							+e.info-wrap.row
								+e.info.col-auto
									span ИНН 
									| 9717062085
								+e.info.col-auto
									span ОГРН
									| 1177746639476
								+e.info.col-auto
									span Расчетный счет
									| 40802 810 4 3800 0136281
							+e.info-wrap.row
								+e.info.col-auto
									span Юридический адрес
									| 129626, Москва , ул. 1-я Мытищинская, д. 3, стр. 1
								+e.info.col-auto
									span Корреспондентный счет
									| 30101 810 4 0000 0000225
				.col-lg-auto.ms-lg-auto
					+e.have-question
						h5 Остались вопросы?
						p Оставьте заявку и мы постараемся вам помочь
						+e.btn.btn.btn-primary(type='button' data-src='modal-call' data-fancybox="modal") Задать вопрос
						+soc
							+item-sos
								+icon('telegram')
							+item-sos
								+icon('wa2')
			+e.map: iframe(src="https://yandex.ru/map-widget/v1/?um=constructor%3A8b213784e38e57660d06ffebe59576484fd8b24a515800df2cd346bab8ebe8c3&amp;source=constructor" frameborder="0")
	// end sContact