mixin sAudit(data)
	// start sAudit
	+b.SECTION.sAudit.section#sAudit&attributes(attributes)
		.container
			+e.wrap
				+b.section-title
					h2 Бесплатный аудит вашей перепланировки
					p Заполните форму и&nbsp;мы&nbsp;проведем бесплатный анализ и&nbsp;дадим экспертное заключение о&nbsp;возможности перепланировки вашего помещения
				+e.row.row
					mixin item(title)
						+e.item
							+e.title!= title
							block
					.col-md-6.col-lg-4
						+item('Тип помещения')
							.row
								.col-auto
									+in-c('radio', 'Квартира', 'house')
								.col-auto
									+in-c('radio', 'Квартира в новостройке', 'house')
								.col-auto
									+in-c('radio', 'Коммерческое помещение', 'house')
								.col-auto
									+in-c('radio', 'Апартаменты', 'house')
								.col-auto
									+in-c('radio', 'Помещение в жилом доме', 'house')
								.col-auto
									+in-c('radio', 'Другое', 'house')
					.col-md-6.col-lg-4
						+item('Площадь помещения')
							.row
								.col-auto
									+in-c('radio', 'До 50 кв м²', 'area')
								.col-auto
									+in-c('radio', 'До 100 кв м²', 'area')
								.col-auto
									+in-c('radio', 'До 200 кв м²', 'area')
								.col-auto
									+in-c('radio', 'До 500 кв м²', 'area')
								.col-auto
									+in-c('radio', 'Более 500 кв м²', 'area')
					.col-md-6.col-lg-4
						+item('На каком этапе ')
							.row
								.col-auto
									+in-c('radio', 'Планируется перепланировка', 'stage')
								.col-auto
									+in-c('radio', 'Уже выполненна', 'stage')
					.col-md-6.col-lg-4
						+item('Что хотите сделать или уже сделали')
							+input('Например, объединить 2 комнаты')
					.col-md-6.col-lg-4
						+item('Документы (если есть)')
							ol
								li БТИ, экспликация (поэтажный план)
								li Эскиз планируемых работ (можно от руки)
							+upload-field()
					.col-md-6.col-lg-4
						+item('Адрес')
							+input('Город. улица. дом')
				+e.footer-row.row
					.col-xl
						+e.footer-row.row
							.col-md-6.col-lg-4
								+input('Ваше имя', 'text', 'Имя')
							.col-md-6.col-lg-4
								+input('+7 (999) 999 99 99', 'tel', 'Телефон')
							.col-md-6.col-lg-4
								+input('Ваш E-mail', 'email', 'E-mail')
					+e.col.col-xl
						+e.btn.btn.btn-primary(href='#') Отправить заявку
	// end sAudit