// start .sAudit
.sAudit {
	--sPT: #{rem(40)};
	--sPB: #{rem(40)};
	--sTPB: #{rem(25)};
	background-color: #f5f5f5;
	@include media-breakpoint-up(lg) {
		--sPT: #{rem(75)};
		--sPB: #{rem(120)};
		--sTPB: #{rem(50)};
	}
	&__row {
		// --bs-gutter-x: #{rem()};
		position: relative;
		--bs-gutter-y: #{rem(20)};
		padding-bottom: rem(25);
		margin-bottom: rem(25);
		&:after {
			content: "";
			position: absolute;
			display: block;
			width: calc(100% - var(--bs-gutter-x));
			bottom: 0;
			left: calc(var(--bs-gutter-x) / 2);
			height: 1px;
			background-color: #e9e9e9;
		}
		@include media-breakpoint-up(lg) {
			--bs-gutter-y: #{rem(44)};
			padding-bottom: rem(51);
			margin-bottom: rem(45);
		}
	}
	&__wrap {
		padding: rem(25);
		background-color: #ffffff;
		box-shadow: 0px 0px 50px 2px rgba(0, 0, 0, 0.1);
		border-radius: 24px;
		@include media-breakpoint-up(lg) {
			padding: rem(45) rem(60);
		}
	}
	.section-title {
		h2 {
			margin-bottom: rem(10);
			@include media-breakpoint-down(sm) {
				font-size: rem(20);
			}
		}
		p {
			max-width: rem(791);
			margin-bottom: 0;
			line-height: 1.2;
			@include media-breakpoint-up(lg) {
				font-size: rem(20);
			}
		}
	}
	&__item {
		max-width: rem(320);
		.row {
			--bs-gutter-x: #{rem(10)};
			--bs-gutter-y: #{rem(8)};
		}
		.custom-input {
			min-height: auto;
			padding-left: 0;
			margin-bottom: 0;
			position: relative;
			padding: rem(2.5) rem(11.1);
			overflow: hidden;
			border-radius: rem(16);
			&__input {
				margin-left: 0;
				margin-top: 0;
				border: none;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: $gray-100;
				border-radius: 0;
				&:checked {
					background-image: none;
					box-shadow: none;
					background-color: $primary;
					& ~ .custom-input__text {
						color: #fff;
						font-weight: 300;
					}
				}
			}
			&__text {
				font-size: rem(14);
				font-weight: 300;
				line-height: 1.21;
				color: $gray-500;
				position: relative;
			}
		}
	}
	&__title {
		font-size: rem(14);
		margin-bottom: rem(16);
		@include media-breakpoint-up(lg) {
			font-size: rem(16);
		}
	}
	&__input-wrap {
		label {
			width: 100%;
		}
	}
	&__input {
		border-color: $gray-100;
		background-color: $gray-100;
		color: $gray-500;
		&::placeholder {
			color: $gray-500;
		}
		&:focus {
			background-color: $gray-100;
		}
	}
	&__input-title {
		line-height: 1.18;
		margin-bottom: rem(16);
	}
	ol {
		padding-left: rem(16);
		margin-bottom: rem(6);
		li {
			font-size: rem(14);
			line-height: 1.21;
		}
	}
	&__btn {
		width: 100%;
		max-width: rem(305);
		text-transform: uppercase;
	}
	&__footer-row {
		--bs-gutter-x: #{rem(16)};
		--bs-gutter-y: #{rem(16)};

		align-items: flex-end;
		.sAudit__input-wrap {
			position: relative;
			input[type="tel"] {
				padding-left: rem(47);
			}
			img, svg {
				position: absolute;
				left: rem(24);
				bottom: rem(23);
				max-width: rem(18);
				height: auto;
			}
		}
	}
	&__col {
		max-width: rem(321);
	}
	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sAudit
