// start .sAdvantages
.sAdvantages {
	// --sPT: #{rem()};
	// --sPB: #{rem()};
	// --sTPB: #{rem()};
	@include media-breakpoint-up(xl) {
		--sTPB: #{rem(60)};
	}
	&__row {
		// --bs-gutter-x: #{rem()};
		--bs-gutter-y: var(--sTPB);
	}
	.section-title {
		h2 {
			@include media-breakpoint-up(lg) {
				margin-bottom: rem(12);
			}
		}
		p {
			font-weight: 300;
			line-height: calc(24 / 20);
			margin-bottom: 0;
			@include media-breakpoint-up(lg) {
				font-size: rem(20);
			}
		}
	}
	&__col {
	}
	&__item {
		display: flex;
		flex-direction: column;
		height: 100%;
		max-width: rem(400);
		img {
			max-width: rem(32);
			height: auto;
			margin-bottom: rem(12);
		}
		h6 {
			font-weight: 500;
			font-size: rem(16);
			line-height: calc(19 / 16);
			margin-bottom: rem(8);
		}
		p {
			font-weight: 300;
			font-size: rem(14);
			line-height: calc(17 / 14);
			flex-grow: 1;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sAdvantages
