@use "sass:math";

.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-arrow-lg-right {
	font-size:math.div(8,10)*1rem;
	width: math.div(55,8)*1em;
}
.icon-arrow-more {
	font-size:math.div(16,10)*1rem;
	width: math.div(23,16)*1em;
}
.icon-arrow-right-sm {
	font-size:math.div(16,10)*1rem;
	width: math.div(17,16)*1em;
}
.icon-chevron-left {
	font-size:math.div(13,10)*1rem;
	width: math.div(7,13)*1em;
}
.icon-chevron-right {
	font-size:math.div(13,10)*1rem;
	width: math.div(7,13)*1em;
}
.icon-clock {
	font-size:math.div(36,10)*1rem;
	width: math.div(36,36)*1em;
}
.icon-instagram {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-mail {
	font-size:math.div(38,10)*1rem;
	width: math.div(38,38)*1em;
}
.icon-phone-call {
	font-size:math.div(38,10)*1rem;
	width: math.div(38,38)*1em;
}
.icon-telegram {
	font-size:math.div(16,10)*1rem;
	width: math.div(16,16)*1em;
}
.icon-viber {
	font-size:math.div(16,10)*1rem;
	width: math.div(16,16)*1em;
}
.icon-vk {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-wa {
	font-size:math.div(16,10)*1rem;
	width: math.div(16,16)*1em;
}
.icon-whatsapp {
	font-size:math.div(16,10)*1rem;
	width: math.div(16,16)*1em;
}
