mixin sAbout(data)
	// start sAbout
	+b.SECTION.sAbout.section#sAbout&attributes(attributes)
		+e.container.container
			+e.play
				+img('img/svg/play.svg')
			+e.img-wrap
				+img('img/sAbout-img-1.png')
				p Основатель компании<br>Терехов Дмитрий 
			+e.row.row
				.col-sm-auto.me-auto.order-2.order-md-1
					+e.quote
						//- +img('img/svg/quote.svg')
						p 
							span Наша цель 
							| - воплощать ваши мечты в реальность, соблюдая все рамки закона 
				+e.col.col-sm.order-1.order-md-2
					+b.section-title
						h2 О компании
						a(href="#") ПОДРОБНЕЕ
							+icon2('arrow-right-sm')
					p Прямое Право ведет деятельность по&nbsp;согласованию перепланировок/переустройств с&nbsp;2016&nbsp;года. Мы&nbsp;сотрудничаем с&nbsp;ведущими профильными институтами по&nbsp;типовым и&nbsp;индивидуальным проектам и&nbsp;наработали опыт, который позволяет нам добиваться результата в&nbsp;кратчайшие сроки. Штат компании насчитывает 18&nbsp;сотрудников.
					p Основной нашей деятельностью является разработка проектов по&nbsp;перепланировке/переустройство квартир и&nbsp;нежилых помещений с&nbsp;получением согласования и&nbsp;положительного результата в&nbsp;государственных инстанциях
					.row
						.col
							+e.item
								span 18
								p сотрудников в&nbsp;штате
						.col
							+e.item
								span >5 500
								p согласованных перепланировок
	// end sAbout

mixin sAbout2(data)
	// start sAbout
	+b.SECTION.sAbout--2.section#sAbout&attributes(attributes)
		.container
			+e.row.row
				.col-lg
					.section-title
						h2 О нас
						p Прямое Право ведет деятельность по согласованию перепланировок/переустройств с 2016 года. Мы сотрудничаем с ведущими профильными институтами по типовым и индивидуальным проектам и наработали опыт, который позволяет нам добиваться результата в кратчайшие сроки. Штат компании насчитывает 18 сотрудников.
						p Основной нашей деятельностью является разработка проектов по перепланировке/переустройство квартир и нежилых помещений с получением согласования и положительного результата в государственных инстанциях.
					+e.quote
						//- +img('img/svg/quote.svg')
						p Наша цель - воплощать ваши мечты в реальность, соблюдая все рамки закона 
						+e.author Основатель компании Терехов Дмитрий 
				.col-lg-auto
					+img('img/sAbout-img-1.png')
	// end sAbout