// start .sAbout
.sAbout {
	--sPT: #{rem(60)};
	--sPB: #{rem(20)};
	--sTPB: #{rem(11)};
	border-bottom: 1px solid #E9E9E9;
	@include media-breakpoint-up(lg) {
		--sPT: #{rem(120)};
		--sPB: #{rem(46)};
	}
	&__row{
		// --bs-gutter-x: #{rem()};
		--bs-gutter-y: #{rem(18)};

	}
	&__container {
		position: relative;
	}
	&__play {
		position: absolute;
		display: none;
		align-items: center;
		justify-content: center;
		top: 43%;
		left: 37%;
		transform: translate(-50%, -50%);
		width: rem(87);
		height: rem(87);
		border-radius: 50%;
		background-color: rgba(217, 217, 217, 0.2);
		z-index: -1;
		@include media-breakpoint-up(md) {
			display: flex;
		}
		@include media-breakpoint-up(lg) {
			left: 45%;
			top: 50%;
		}
		@include media-breakpoint-up(xl) {
			left: 55%;
		}
		img {
			width: 100%;
			max-width: rem(57);
		}
		&:before {
			content: '';
			position: absolute;
			display: block;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: rem(277);
			height: rem(277);
			border-radius: 50%;
			border: 1px solid rgba(0, 0, 0, 0.04);
		}
	}
	&__img-wrap {
		position: absolute;
		left: 6%;
		bottom: calc(var(--sPB) * -1);
		max-width: rem(250);
		display: none;
		@include media-breakpoint-up(md) {
			display: block;
		}
		@include media-breakpoint-up(lg) {
			left: 18%;
			max-width: rem(290);
		}
		@include media-breakpoint-up(xl) {
			max-width: none;
		}
		img {
			width: 100%;
			max-width: rem(415);
		}
		p {
			margin-bottom: 0;
			position: absolute;
			right: 57%;
			bottom: rem(260);
			width: 100%;
			max-width: rem(159);
			font-size: rem(12);
			@include media-breakpoint-up(lg) {
				font-size: rem(15);
				bottom: rem(116);
				right: 100%;
				font-size: rem(16);
			}
		}
	}
	.section-title{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		@include media-breakpoint-up(sm) {
			align-items: center;
			flex-direction: row;
		} 
		h2 {
			margin-bottom: 0;
		}
		a {
			display: flex;
			align-items: center;
			padding: rem(4) rem(8);
			background-color: $primary;
			border-radius: 6px;
			color: #fff;
			font-size: rem(12);
			font-weight: 500;
			flex: 0 0 auto;
			margin-top: rem(8);
			@include media-breakpoint-up(sm) {
				margin-left: rem(30);
				margin-top: 0;
			}
			&:hover {
				background-color: rgb(30,26,185);
			}
			.icon {
				font-size: rem(16);
				margin-left: rem(3);
			}
		}
	}
	&__col{
		max-width: rem(447);
		p {
			margin-bottom: rem(19);
			line-height: 1.62;
			&:last-of-type {
				margin-bottom: rem(35);
			}
		}
	}
	&__item{
		max-width: rem(156);
		span {
			margin-bottom: rem(10);
			font-size: rem(20);
			@include media-breakpoint-up(md) {
				font-size: rem(42);
			}
		}
		p {
			margin-bottom: 0;
			line-height: 1.18;
			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}
	&__quote {
		img {
			width: 100%;
			max-width: rem(35);
			margin-bottom: rem(20);
		}
		p {
			margin-bottom: 0;
			max-width: rem(275);
			line-height: 1.2;
			@include media-breakpoint-up(lg) {
				font-size: rem(20);
			}
			span {
				font-weight: 400;
			}
		}
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sAbout