extends ../layout/main.pug

include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
 
include ../blocks/sContact/_sContact.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sAudit/_sAudit.pug
include ../blocks/sServices/_sServices.pug
include ../blocks/sPortfolio/_sPortfolio.pug
include ../blocks/sTeam/_sTeam.pug
include ../blocks/sFaq/_sFaq.pug
include ../blocks/sCase/_sCase.pug

block variables
	- let  mainPage= 'case-page' 
	- let  bg= ''

block title
	- let  title= 'Примеры наших работ'
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+parts('header')
	main
		+headerBlock2('Примеры наших работ', 'headerBlock-bg-4.jpg')
		+page-head('', 'Наши проекты ', 'Кейс 1')
		+sCase
		+sAudit
		+sFaq
		+sContact
	+parts('footer')
	+parts('modals')
	//- +cookies()
      



