extends ../layout/main.pug

include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
 
include ../blocks/sContact/_sContact.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sAudit/_sAudit.pug
include ../blocks/sServices/_sServices.pug
include ../blocks/sPortfolio/_sPortfolio.pug
include ../blocks/sTeam/_sTeam.pug
include ../blocks/sFaq/_sFaq.pug
include ../blocks/sBlogBlock/_sBlogBlock.pug
include ../blocks/sReliable/_sReliable.pug
include ../blocks/sAbout/_sAbout.pug

block variables
	- let  mainPage= 'about-page' 
	- let  bg= ''

block title
	- let  title= 'О компании'
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+parts('header')
	main
		+headerBlock2('О компании', 'headerBlock-bg-4.jpg', false)
		+page-head('', 'О компании')
		+sReliable
		+sAbout2
		+sTeam.bg-white
		+sPortfolio
		+sBlogBlock
		+sContact
	+parts('footer')
	+parts('modals')
	//- +cookies()
      



