extends ../layout/main.pug

include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
 
include ../blocks/sContact/_sContact.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sAudit/_sAudit.pug
include ../blocks/sServices/_sServices.pug
include ../blocks/sPortfolio/_sPortfolio.pug
include ../blocks/sTeam/_sTeam.pug
include ../blocks/sFaq/_sFaq.pug
include ../blocks/sBlogBlock/_sBlogBlock.pug
include ../blocks/sReliable/_sReliable.pug
include ../blocks/sPriceBlock/_sPriceBlock.pug
include ../blocks/sReviews/_sReviews.pug

block variables
	- let  mainPage= 'price-list-page' 
	- let  bg= ''

block title
	- let  title= 'Отзывы'
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+parts('header')
	main
		+headerBlock2('Отзывы', 'headerBlock-bg-6.jpg', false)
		+page-head('', 'Отзывы')
		+sReviews
		+sPortfolio
		+sContact
	+parts('footer')
	+parts('modals')
	//- +cookies()
      



