extends ../layout/main.pug

include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
 
include ../blocks/sContact/_sContact.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sAudit/_sAudit.pug
include ../blocks/sServices/_sServices.pug
include ../blocks/sPortfolio/_sPortfolio.pug
include ../blocks/sTeam/_sTeam.pug
include ../blocks/sFaq/_sFaq.pug
include ../blocks/sBlogBlock/_sBlogBlock.pug
include ../blocks/sReliable/_sReliable.pug
include ../blocks/sPriceBlock/_sPriceBlock.pug
include ../blocks/sReviews/_sReviews.pug

block variables
	- let  mainPage= '' 
	- let  bg= ''

block title
	- let  title= 'Контент'
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	//- +parts('header')
	main
		+sContent
			+e.block
				h1.h2 Процедура согласования перепланировки
				p В&nbsp;столице вопросы перепланировки и&nbsp;переустройства квартиры урегулированы постановлением Правительства Москвы &#8470;&nbsp;508.Процедура такова:
				ul
					li Перед тем, как приступать к&nbsp;работам, нужно получить разрешение Мосжилинспекции на&nbsp;их&nbsp;проведение и&nbsp;согласовать проект;
					li По&nbsp;завершении перепланировки требуется направить запрос в&nbsp;МЖИ на&nbsp;оформление акта выполненных работ;
					li Проводится осмотр квартиры с&nbsp;участием инспектора и&nbsp;представителя проектировщика;
					li Если не&nbsp;выявлено расхождений между согласованным проектом и&nbsp;выполненными изменениями&nbsp;&mdash; составляется акт о&nbsp;завершенной перепланировке.
				p Далее нужно вызвать представителя БТИ для внесения изменений в&nbsp;технический паспорт помещения. Согласование проекта перепланировки квартиры можно считать завершенным, лишь когда у&nbsp;вас на&nbsp;руках будет откорректированная документация.
				p Если вы&nbsp;просто хотите поменять окна или входную дверь, к&nbsp;властям обращаться не&nbsp;нужно. Но&nbsp;если планируемые изменения более серьезные, возможно несколько вариантов развития событий.
			+e.block
				h2 Виды перепланировок
				+e.sub-content
					+e.tag Простые работы
					p Работы, отнесенные к&nbsp;переустройству и&nbsp;перепланировке, перечислены в&nbsp;п.&nbsp;2&nbsp;и&nbsp;3&nbsp;постановления &#8470;&nbsp;508. Если запланированные вами изменения не&nbsp;фигурируют в&nbsp;этих списках, то&nbsp;проект не&nbsp;нужен. К&nbsp;таким работам относятся, например, любые действия с&nbsp;внутренними перегородками квартиры.
					p По&nbsp;окончании таких работ оформляется графическое изображение жилого помещения до&nbsp;и&nbsp;после изменений. Представитель Мосжилинспекции осматривает квартиру и&nbsp;оформляет акт. После этого нужно обратиться в&nbsp;БТИ за&nbsp;внесением корректировок в&nbsp;технический паспорт.
					p Мы&nbsp;делаем согласование перепланировки под ключ. Неподготовленному человеку будет трудно выполнить чертежи так, чтобы у&nbsp;инспектора не&nbsp;возникло вопросов. Но&nbsp;если это сделают наши профессиональные проектировщики&nbsp;&mdash; проблем не&nbsp;будет.
					p 
						span Требует согласования проекта перепланировки
						| Если планируемые работы затрагивают конструктивные особенности здания и&nbsp;их&nbsp;производство представляет потенциальную угрозу жизни и&nbsp;здоровью граждан, перепланировка жилого помещения может быть осуществлена только в&nbsp;случае согласования проекта с&nbsp;властями. Незаконные перепланировки грозят штрафом и&nbsp;постановлением о&nbsp;приведении квартиры к&nbsp;первозданному виду.
					+img('img/sContent-img-1.jpg').res-i.img
				+e.sub-content
					+e.tag Перепланировка по типовому проекту
					p На&nbsp;сайте МЖИ размещен каталог типовых планировочных решений для домов массовой застройки, уже согласованных инспекцией. Некоторые варианты приведены ниже. Если какой-то из&nbsp;них вас полностью устроит, то&nbsp;проект делать не&nbsp;нужно.
					p Требуется только провести обследование квартиры и&nbsp;сделать теплотехнические и&nbsp;прочностные расчеты. Затем подается заявление на&nbsp;перепланировку. Остальные действия проводятся в&nbsp;общем порядке.
				+e.sub-content
					+e.tag Перепланировка по собственному проекту
					p Это самый трудоемкий вариант. Стоимость согласования перепланировки квартиры в&nbsp;этом случае будет выше. Но&nbsp;если у&nbsp;вас есть собственные дизайнерские задумки, придется идти по&nbsp;самому сложному пути&nbsp;&mdash; разрабатывать и&nbsp;согласовывать новый проект. Но&nbsp;вы&nbsp;можете положиться на&nbsp;нас.
					p ООО &laquo;ТехСтройЭксперт&raquo; состоит в&nbsp;саморегулируемой организации в&nbsp;области архитектурно-строительного проектирования. Наши эксперты регулярно разрабатывают проекты реконструкции и&nbsp;перепланировки для объектов капитального строительства, где требования значительно строже, чем в&nbsp;частном секторе. Мы&nbsp;отвечаем за&nbsp;свою работу.
				+e.sub-content
					+e.tag Ваш дом&nbsp;&mdash; памятник архитектуры
					.row
						.col-lg-6
							p Такие здания особо охраняются государством. Типовых проектов для них не&nbsp;существует. Для одобрения перепланировки придется общаться не&nbsp;только с&nbsp;МЖИ, но&nbsp;и&nbsp;с&nbsp;органом по&nbsp;охране объектов культурного наследия.
							p Если все уже сделано<br>Когда перепланировка квартиры уже выполнена&nbsp;&mdash; ее&nbsp;все равно нужно согласовать, чтобы избежать проблем в&nbsp;будущем. Такие случаи нередки&nbsp;&mdash; часто люди просто не&nbsp;знают правильного порядка действий. Поэтому в&nbsp;постановлении &#8470;&nbsp;508 предусмотрена процедура для таких случаев&nbsp;&mdash; она описана в&nbsp;п.&nbsp;18.
							p Чтобы узаконить перепланировку, потребуется техническое заключение, составленное организацией-членом СРО&nbsp;&mdash; например, нами. Придется также заплатить штраф за&nbsp;самовольные работы. Затем назначается комиссия с&nbsp;участием представителя МЖИ, который составит акт, и&nbsp;ваша квартира обретет законный статус.
						.col-lg-6
							+e.img-wrap: .img-wrap-center: +img('img/sContent-img-2.jpg', 'bg')
			+e.block
				h2 Перепланировка или переоборудование?
				p Услуги по&nbsp;согласованию перепланировки квартиры могут понадобиться не&nbsp;только при изменении конфигурации помещений. В&nbsp;законодательстве также присутствует термин &laquo;переоборудование&raquo; или &laquo;переустройство&raquo;. К&nbsp;таким работам могут относиться:
				ul
					li Перестановка газовой плиты или ее&nbsp;замена на&nbsp;электрическую;
					li Перенос батарей отопления, а&nbsp;также изменение мощности нагревательных приборов;
					li Изменения внутри квартирных систем водоснабжения, канализации или электропроводки;
					li Установка &laquo;новомодных&raquo; приборов&nbsp;&mdash; мощных стиральных машин, джакузи, бойлеров.
				p Переоборудование жилого помещения при ремонте часто идет &laquo;рука об&nbsp;руку&raquo; с&nbsp;перепланировкой, и&nbsp;его также нельзя делать самовольно. За&nbsp;это предусмотрены аналогичные санкции. Согласование переустройства квартиры происходит идентично перепланировке. Мы&nbsp;сделаем все в&nbsp;комплексе&nbsp;&mdash; просто нужно будет добавить в&nbsp;проект желаемые изменения.
		//- +headerBlock2('Отзывы', 'headerBlock-bg-6.jpg', false)
		//- +page-head('', 'Отзывы')
		//- +sReviews
		//- +sPortfolio
		//- +sContact
	//- +parts('footer')
	//- +parts('modals')
	//- +cookies()
      



