extends ../layout/main.pug

include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
 
include ../blocks/sContact/_sContact.pug
include ../blocks/sForm/_sForm.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= 'main.jpg'

block title
	- let  title= 'Academic Hospital Solingen, Germany | Diagnostics, counseling and treatment in Germany'
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+parts('header')
	main
		+headerBlock 
	+parts('footer')
	+parts('modals')
	//- +cookies()
      



