mixin sSteps(data)
	// start sSteps
	+b.SECTION.sSteps.section#sSteps&attributes(attributes)
		.container
			+e.slider--js.swiper
				+b.section-title
					h2 Этапы согласования перепланировки
					.d-flex
						+arrow
				mixin slide(title, text)
					+e.slide.swiper-slide
						+e.item
							.h6!= title
							p!= text
				.swiper-wrapper
					+slide('Консультируем', 'Изучим документы, эскизы.<br>Оценим, можно&nbsp;ли согласовать вашу&nbsp;перепланировку.<br>Рассчитаем стоимость согласования.')
					+slide('Заключаем договор', 'Подпишем договор с&nbsp;гарантией положительного результата согласования перепланировки.')
					+slide('Выезжаем на объект', 'Выезд инженера на&nbsp;объект. Отрисовка результатов обследования, масштабирование, наложение на&nbsp;технический паспорт БТИ.')
					+slide('Консультируем', 'Изучим документы, эскизы.<br>Оценим, можно&nbsp;ли согласовать вашу&nbsp;перепланировку.<br>Рассчитаем стоимость согласования.')
					+slide('Заключаем договор', 'Подпишем договор с&nbsp;гарантией положительного результата согласования перепланировки.')
					+slide('Выезжаем на объект', 'Выезд инженера на&nbsp;объект. Отрисовка результатов обследования, масштабирование, наложение на&nbsp;технический паспорт БТИ.')
				.swiper-pagination
	// end sSteps