// start .sOurServices
.sOurServices {
	--sPT: #{rem(40)};
	--sPB: #{rem(40)};
	--sTPB: #{rem(20)};
	background-color:  #F5F5F5;
	@include media-breakpoint-up(lg) {
		--sPT: #{rem(120)};
		--sPB: #{rem(75)};
		--sTPB: #{rem(45)};
	}
	// &__row{
	// 	--bs-gutter-x: #{rem(12)};
	// 	--bs-gutter-y: #{rem(12)};

	// 	height: 100%;
	// 	& & {
	// 		height: calc(100% + var(--bs-gutter-y));
	// 	}
	// }
	&__grid {
		display: grid;
		gap: rem(12);
		@include media-breakpoint-up(sm) {
			grid-template-columns: repeat(4,1fr);
		}
		@include media-breakpoint-up(lg) {
			grid-template-columns: repeat(3,1fr);
		}
		&-item {
			@include media-breakpoint-up(sm) {
				&:nth-child(odd) {
					grid-column: 1/span 2;
				}
				&:nth-child(even) {
					grid-column: 3/span 4;
				}
			}
			@include media-breakpoint-up(lg) {
				&:nth-child(1) {
					grid-column: 1/span 1;
				}
				&:nth-child(2) {
					grid-row: 1/2;
				}
				&:nth-child(3) {
					grid-row: 2/3;
				}
				&:nth-child(4) {
					grid-column: 3/span 3;
				}
				&:nth-child(1),
				&:nth-child(4) {
					grid-row: 1/3;
				}
				&:nth-child(2),
				&:nth-child(3) {
					grid-column: 2/span 1;
				}
			}
		}
	}
	.section-title{
		h2 {

		}
		p {
			margin-bottom: 0;
			font-weight: 300;
			@include media-breakpoint-up(lg) {
				font-size: rem(20);
			}
		}
	}
	&__wrap {
		background-color: #FFFFFF;
		border: 1px solid #F2F2EF;
		border-radius: 24px;
		padding: rem(20);
		height: 100%;
		@include media-breakpoint-up(md) {
			padding: rem(26) rem(18) rem(26) rem(30);
		}
	}
	&__wrapper {
		--bs-gutter-y: #{rem(18)};
		display: flex;
		flex-direction: column;
		margin-top: calc(var(--bs-gutter-y) * -1);
		@include media-breakpoint-up(md) {
			--bs-gutter-y: #{rem(26)};
		}
		& > * {
			margin-top: var(--bs-gutter-y);
		}
	}
	&__item{
		.h4 {
			font-weight: 400;
			padding-bottom: rem(2);
			border-bottom: 2px solid $primary;
			margin-bottom: rem(12);
			display: inline-block;
			@include media-breakpoint-down(md) {
				font-size: rem(18);
			}
			&:not(:hover) {
				color: $gray-900;
			}
		}
		ul {
			--bs-gutter-y: #{rem(6)};

			display: flex;
			flex-direction: column;
			list-style-type: none;
			margin-top: calc(var(--bs-gutter-y) * -1);
			margin-bottom: 0;
			@include media-breakpoint-up(md) {
				--bs-gutter-y: #{rem(12)};
			}
			li {
				font-weight: 300;
				line-height: 1.46;
				font-size: rem(14);
				margin-top: var(--bs-gutter-y);
				@include media-breakpoint-up(md) {
					font-size: rem(16);
				}
			}
		}
	}

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sOurServices