
// start .topLine
.topLine {
	--sPT: #{rem(16)};
	--sPB: #{rem(16)};
	// --sTPB: #{rem()};
	@include media-breakpoint-up(lg) {
		--sPT: #{rem(43)};
		--sPB: #{rem(43)};
	}
	&__row{
		--bs-gutter-x: #{rem(20)};
		// --bs-gutter-y: var(--bs-gutter-x);

		align-items: center;
	}
	// &__logo {
	// 	@include media-breakpoint-up(xxl) {
	// 		margin-right: rem(38);
	// 	}
	// 	img {
	// 		width: 100%;
	// 		max-width: rem(51);
	// 		@include media-breakpoint-up(xl) {
	// 			max-width: rem(71);
	// 		}
	// 	}
	// }
	// ul {
	// 	display: flex;
	// 	align-items: center;
	// 	list-style-type: none;
	// 	margin-bottom: 0;
	// 	@include roww('20px', 'm');
	// 	@include media-breakpoint-up(xl) {
	// 		--bs-gutter-x: #{rem(40)};
	// 	}
	// 	@include media-breakpoint-up(xxl) {
	// 		--bs-gutter-x: #{rem(54)};
	// 	}
	// 	a {
	// 		font-size: rem(14);
	// 		color: #fff;
	// 		border-bottom: 1px solid #fff;
	// 		padding-bottom: rem(2);
	// 		&:hover {
	// 			border-bottom-color: transparent;
	// 		}
	// 	}
	// }
	// &__phone-number {
	// 	text-align: right;
	// }
	// &__tel {
	// 	font-size: rem(16);
	// 	color: #fff;
	// 	margin-bottom: rem(5);
	// 	font-weight: 800;
	// 	@include media-breakpoint-up(lg) {
	// 		font-size: rem(20);
	// 	}
	// 	&:hover {
	// 		color: $gray-300;
	// 	}
	// }
	// &__modal-link {
	// 	--bs-btn-active-color: #fff;

	// 	display: flex;
	// 	align-items: center;
	// 	font-size: rem(14);
	// 	line-height: 1.21;
	// 	color: #fff;
	// 	justify-content: flex-end;
	// 	padding: 0;
	// 	margin-left: auto;
	// 	border: none;
	// 	&:hover {
	// 		color: $gray-300;
	// 	}
	// 	.icon {
	// 		flex: 0 0 auto;
	// 		font-size: rem(8);
	// 		margin-right: rem(8);
	// 	}
	// 	&:focus, &:active {
	// 		color: #fff;
	// 	}
	// }
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(xs) {} 

} // end.topLine