.menu{
	@include media-breakpoint-up(lg) {

		display: flex;
		text-align: center;
		@include roww(20px);
		flex-wrap: wrap;
	}
	@include media-breakpoint-up(xl) {
		--bs-gutter-x: #{rem(36)};
	}
	list-style: none;
	position: relative;
	margin-bottom: 0;
	max-width: 100%;
	li{
		
		// margin-left: 0;
		// margin-right: 0;
		// padding: 0;
	}
	a{
		display: block;
		// padding: rem(20) calc(var(--bs-gutter-x) / 2);
		color: #CFD0CF;
		font-size: rem(14);
		&:hover {
			color: #fff;
		}
	}
}

.toggle-menu-mobile {
	--h: #{rem(2)};
	--color: #CFD0CF;
	--position: calc(var(--h) * 3);
	&.on span {
		--color: #CFD0CF;
		background-color: transparent;
	}

	&.on  { 
		--position: 0; 
		--rotate: 45deg;
	}
	display: block;
	height: calc(var(--h)* 12);
	position: relative; 
	font-size: 28px;
	width: 1em;
	cursor: pointer;
	@include media-breakpoint-up(lg) {
		pointer-events: none;
		cursor: auto;
	}
	@include media-breakpoint-up(sm) {
		margin-right: rem(36);
	}
	span:after,
	span:before {
		content: "";
		position: absolute;
		left: 0;
		width: 1em;
	} 
	span {
		@include a-cent(y);
		display: block;
	}

	span:before { 
		top: var(--position);
		transform: rotate3d(0,0,1, var(--rotate, 0));
	}

	span:after {
		bottom: var(--position);
		transform: rotate3d(0,0,1, calc(-1 * var(--rotate,0)));
	}
	span,
	span:after,
	span:before {
		// width: 32px;
		width: 1em;
		height: var(--h);
		background-color: var(--color);
		transition: all 0.3s;
		backface-visibility: hidden; 
		transform-origin: 50% 50%;
	} 
	span {
		width: rem(23);
	}
}
@include media-breakpoint-up(lg) {
	.menu-mobile {
		width: 100%;
		max-width: rem(300);
		.menu {
			display: none;
		}
		&__inner {
			display: flex;
			align-items: center;
		}
		.topLine {
			display: none;
		}
	}
}
@include media-breakpoint-down(lg) {

	.menu-mobile {
		.menu {
			border-bottom: 1px solid #828284;
			padding-bottom: rem(10);
			margin-bottom: rem(20);
			a {
				padding: rem(10);
				color: #000;
				&:hover {
					color: $primary;
				}
			}
		}
	}
	.topLine {
		ul {
			flex-direction: column;
			align-items: flex-start;
			li {
				width: 100%;
			}
			a {
				padding: rem(10);
				color: #000;
				display: block;
				&:hover {
					color: $primary;
				}
			}
		}
	}
}
.menu-mobile {
	position: fixed !important;
	z-index: 999;
	max-width: 85%;
	// height: calc(var(--vh, 1vh) * 100);
	// height: 100vh;
	width: 280px;
	top: 0;
	// left: 0;
	right: 0;
	background-color: $body-bg;
	&:not(.active){
		transform: translate3d(120%, 0,0);
		--opacity: 0;
		.toggle-menu-mobile{
			opacity: 0;
		}
	}
	@include mt(.6s);
	will-change: transform;

	
	.toggle-menu-mobile { 
		margin-left: -15%;
		position: absolute; 
		left: 0;
		right: auto;
		color: #FFF;
		top: 10px;
		z-index: 9999; 
		span:after,
		span:before {
			--color: #ffffff;
		}
	}
	&__inner {
		padding: calc(env(safe-area-inset-top, 0px) + #{rem(20)}) 0 calc(env(safe-area-inset-bottom, 0px) + #{rem(20)});
		overflow-x: hidden;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
		height: 100vh;
		// @include mt(.3s);
		// transition-delay: .4s;
		// opacity: var(--opacity);
	}

	&.active { 
		.toggle-menu-mobile {
			opacity: 1;
		}
	}
}