.top-nav {
	--sPT: #{rem(10.5)};
	--sPB: #{rem(10.5)};
	// --sTPB: #{rem()};
	padding-bottom: var(--sPB);
	padding-top: var(--sPT);
	border-bottom: 1px solid #828284;
	nav {
		width: 100%;
	}
	&__row {
		--bs-gutter-x: #{rem(20)};

		align-items: center;
		@include media-breakpoint-up(xl) {
			--bs-gutter-x: #{rem(30)};
		}
		@include media-breakpoint-up(xxl) {
			--bs-gutter-x: #{rem(44)};
		}
	}
	&__text {
		font-size: rem(10);
		line-height: 1.21;
		color: #CFD0CF;
		display: inline-block;
		@include media-breakpoint-up(sm) {
			font-size: rem(14);
		}
		&[href] {
			&:hover {
				color: #fff;
			}
		}
	}
	@include media-breakpoint-up(md) {}

	@include media-breakpoint-up(sm) {}

	@include media-breakpoint-up(xs) {}

	// 
	@include media-breakpoint-between(md, xl) {}

	// 
	@include media-breakpoint-only(xs) {}

	@include media-breakpoint-only(sm) {}

	@include media-breakpoint-only(md) {}

	@include media-breakpoint-only(lg) {}

	@include media-breakpoint-only(xl) {}

	// 
	@include media-breakpoint-down(xl) {}

	@include media-breakpoint-down(lg) {}

	@include media-breakpoint-down(md) {}

	@include media-breakpoint-down(sm) {}

	@include media-breakpoint-down(xs) {}
}


