mixin menu-toggle()
	+b.toggle-menu-mobile--js&attributes(attributes)
		span
mixin mob-mnu()
	-
		//- let path = require('path');
		//- let fs = require('fs');
		//- var requestURL = 'top-nav.json';
		//- var request = new XMLHttpRequest();
		//- request.open('GET', requestURL);
		//- request.responseType = 'json';
		//- let dataJson = JSON.parse(json);
	//- h1= dataJson['lala'] 
	+b.menu-mobile--js
		+b.toggle-menu-mobile--js
			span
		+e.inner
			+mnu()
			+b.topLine
				nav
					ul
						li: a(href="#") Квартиры 
						li: a(href="#") Нежилые
						li: a(href="#") Входная группа
						li: a(href="#") Согласование
						li: a(href="#") Приемка квартир
						li: a(href="#") Самострой
	//  мобильное меню
mixin top-nav() 
	// start top-nav
	+b.top-nav.block-with-lazy
		.container
			+e.row.row
				.col
					.d-flex.align-items-center
						+menu-toggle()
						+mnu().d-none.d-lg-flex
				.col-auto
					+e.text Пн-Пт 10:00-18:00
				.col-auto
					+e.text(href='mailto:info@pryamoepravo.ru') info@pryamoepravo.ru
				.col-12.p-0.m-0: +e.line
				+e.col.col-auto
					+e.logo(href='/'): +img('img/svg/footer-logo.svg')
				+e.col.col.d-none.d-lg-block
					+e.navigation
						nav
							ul
								li: a(href="#") Квартиры 
								li: a(href="#") Нежилые
								li: a(href="#") Входная группа
								li: a(href="#") Согласование
								li: a(href="#") Приемка квартир
								li: a(href="#") Самострой
				+e.col.col-auto.ms-auto
					+e.phone-number
						+e.tel(href='tel:+74954600924') +7 (495) 460 09 24
						+e.modal-link.btn(type='button' data-src='modal-call' data-fancybox="modal")
							+icon('arrow-lg-right')
							| Обратный звонок
	// end top-nav