mixin menu-toggle()
	+b.toggle-menu-mobile--js&attributes(attributes)
		span
mixin mob-mnu()
	-
		//- let path = require('path');
		//- let fs = require('fs');
		//- var requestURL = 'top-nav.json';
		//- var request = new XMLHttpRequest();
		//- request.open('GET', requestURL);
		//- request.responseType = 'json';
		//- let dataJson = JSON.parse(json);
	//- h1= dataJson['lala'] 
	+b.menu-mobile--js
		+b.toggle-menu-mobile--js
			span
		+e.inner
			+mnu()
			.top-nav__navigation
				nav
					ul
						li: a(href="#") Квартиры 
						li: a(href="#") Нежилые
						li: a(href="#") Входная группа
						li: a(href="#") Согласование
						li: a(href="#") Приемка квартир
						li: a(href="#") Самострой
	//  мобильное меню
mixin top-nav() 
	// start top-nav
	+b.top-nav.block-with-lazy
		+e.container.container
			+e.row.row
				.col.d-lg-none
					+menu-toggle()
				.col-auto.col-lg
					.menu-mobile.menu-mobile--js
						.menu-mobile__inner
							+e.inner-row.row
								.col-lg
									.d-flex.align-items-center
										+menu-toggle()
										+mnu()
								.col-lg-auto.order-last.order-lg-0
									+e.text Пн-Пт 10:00-18:00
								.col-lg-auto.order-last.order-lg-0
									+e.text(href='mailto:info@pryamoepravo.ru') info@pryamoepravo.ru
								.w-100.d-none.d-lg-block
								+e.inner-col.col-lg-auto
									+e.logo(href='/'): +img('img/svg/footer-logo.svg')
								+e.col.col-lg.mb-auto.mb-lg-0
									+e.navigation
										nav
											ul
												li: a(href="#") Квартиры 
												li: a(href="#") Нежилые
												li: a(href="#") Входная группа
												li: a(href="#") Согласование
												li: a(href="#") Приемка квартир
												li: a(href="#") Самострой
				.col-auto.d-lg-none
					+e.text Пн-Пт 10:00-18:00
				.col-auto.d-lg-none
					+e.text(href='mailto:info@pryamoepravo.ru') info@pryamoepravo.ru
				.w-100.d-lg-none
				+e.col.col.d-lg-none
					+e.logo(href='/'): +img('img/svg/footer-logo.svg')
				+e.col.col-auto.ms-auto
					+e.phone-number
						+e.tel(href='tel:+74954600924') +7 (495) 460 09 24
						+e.modal-link.btn(type='button' data-src='modal-call' data-fancybox="modal")
							+icon2('arrow-lg-right')
							| Обратный звонок
	// end top-nav