mixin sFaq(data)
	// start sFaq
	+b.SECTION.sFaq.section#sFaq&attributes(attributes)
		.container
			+b.section-title
				h2 Часто задаваемые вопросы
			+e.row.row
				.col-lg-7
					+ddGroup
						+ddGroupItem('Чем грозит самовольная перепланировка?')
							p Несогласованная перепланировка&nbsp;&mdash; это штраф от&nbsp;Мосжилинспекции, проблемы при продаже квартиры и&nbsp;возможное нарушение кредитного договора по&nbsp;ипотеке.
						+ddGroupItem('Как узаконить перепланировку в новостройке?')
							p Несогласованная перепланировка&nbsp;&mdash; это штраф от&nbsp;Мосжилинспекции, проблемы при продаже квартиры и&nbsp;возможное нарушение кредитного договора по&nbsp;ипотеке.
						+ddGroupItem('С чего начать перепланировку?')
							p Несогласованная перепланировка&nbsp;&mdash; это штраф от&nbsp;Мосжилинспекции, проблемы при продаже квартиры и&nbsp;возможное нарушение кредитного договора по&nbsp;ипотеке.
						+ddGroupItem('Какие сроки согласования перепланировки?')
							p Несогласованная перепланировка&nbsp;&mdash; это штраф от&nbsp;Мосжилинспекции, проблемы при продаже квартиры и&nbsp;возможное нарушение кредитного договора по&nbsp;ипотеке.
						+ddGroupItem('Как понять, можно ли согласовать перепланировку?')
							p Несогласованная перепланировка&nbsp;&mdash; это штраф от&nbsp;Мосжилинспекции, проблемы при продаже квартиры и&nbsp;возможное нарушение кредитного договора по&nbsp;ипотеке.
				.col-lg-5
					+e.wrap
						h4 Остались вопросы? Задавайте их в чате
						p Напишите нам в Telegram/What’s app. Наш специалист ответит в течение нескольких минут.
						.row
							.col-auto
								a(href="#") 
									+icon('telegram')
									| Telegram 
							.col-auto
								a(href="#") 
									+img('img/svg/wa.svg').img-svg-js.icon
									| WhatsApp 
	// end sFaq