include ../../layout/include.pug


+b.modal-win--article
	+img('img/article-img-1.webp').res-i
	.h2 Dear guests and patients! 
	p We welcome You to visit our coordinating center, designed specifically for foreign patients.
	p Dear patients and visitors, here you can find information for international / forieng patients. 
	p Our International Department is located directly in the Clinic Solingen, and it was founded especially for the patients from all over the world.
	p Our office is the administrative center for patients from around the world. Our staff is ready to provide You with information about the medical services of the hospital, Solingen and assist you in organising Your treatment. Our consulting center are ready to provide you with all needed support and information according to:
	ul
		li appointment and consultation,
		li diagnostics,
		li inpatient and outpatient treatment.
	p International Department helps you with translation of medical documents and records, visa support, transfers from airport to the hospital and back, accomodation near clinic, inpatient and outpatient treatment and many other.

	p We totally understand that sometimes the processes of diagnostics and treatment might be stressful for the patient and the relatives, family members. That is why we are here to support you and to make all the procedures easier and comfortable. 

	p You can be sure, in Solingen City Hospital you will be in the reliable hands of professional doctors and medical personnel.

	.h4 Additional services:
	ol
		li One way transfer from the airport 100 euro
		li Visa support
		li Translation services 35 euro / hour
		li Wi-Fi
		li Accommodation 50 euro / day
		li Translation of documents and medical records
	p Translation of documents and medical records
	p Our page provides information about inpatient and outpatient treatment in our clinic, about arrival and accommodation, visa support and other services. If You need further information, do not hesitate to contact us; our contacts You can find here or on the contacts bar to the right on our page.

	p We understand Your concern and anxiety for Your loved ones when it comes to necessary medical care. Our goal is to make the treatment more successful and painless for You and Your family. You can be sure that at our hospital You will be in the hands of professionals.

	p We wish You a speedy recovery!

	.h4 Questions?

	p Please contact us in case of any questions via telephone number or via Watsapp / Viber. You will receive the answer ASAP.
	+e.link
		span Email: 
		a(href="mailto:kontakt@international-office-solingen.de")  kontakt@international-office-solingen.de
	+e.link
		span Tel.: 
		a(href="tel:+492125476913") +49 212 5476913
	+e.link
		span Viber | Whatsapp: 
		a(href="tel:+491732034066") +49 173-2034066 
		span | 
		a(href="tel:+491775404270") +49 177-5404270