 
	  
.soc{
	@include roww(10px, m);
	display: flex;
	&__item{
		text-decoration: none !important; 
		vertical-align: middle;
		@include mt;
		display: grid;
		place-items: center;
		&:hover{
		 	// box-shadow: 0 0 33px 0px rgba(255, 83, 0, 0.16);
			// opacity: .6 ;
		}
		
	}
	.icon{
		font-size: rem(30);
	}


}


.counter{
	counter-reset: num;
	&__item {
		position: relative; 
		&::before {
			content: counter(num);
			counter-increment: num;
		}
	}
}




.addBlock{
	color: var(--color, #{$primary});
	border: 1px solid;
	border-radius: 23px;
	display: flex;
	position: relative;
	overflow: hidden;
	input{
		color: inherit;
		text-align: center;
		border: none;
		height: rem(45);
	}
	&__btn{
		color: inherit;
		height: rem(45);
		position: relative;
		border-radius: 23px;
		background: none !important;
		border: none !important;
		box-shadow: none !important;
		outline: none !important;
		background: transparent;
		// padding-left: rem(8);
		// padding-right: rem(8);
		width: rem(26);
		&::before,
		&::after{
			content: '';
			width: 10px;
			height: 2px; 
			background-color: currentColor;
			@include a-cent;
			position: absolute;
		}
		&--plus::after{
			transform: rotate(90deg);
		}
	}
}


.search-block{
	position: relative;
	input{
		font-size: 14px;
		width: 100%;
		border: none !important;
		outline: none !important;
		padding-left: rem(30);
		padding-top: rem(14);
		padding-bottom: rem(14);
	}
	.icon{
		font-size: rem(20);
		border: none !important;
	}
	button{
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		background: none !important;
		border: none !important;
	}
}

.breadcrumb-item{
	width: auto;
	// margin-right: rem(32);
}

.upload-field {
	&__title {
		position: relative;
		top: unset;
		margin-bottom: rem(16);
	}
	&__wrap {
		display: flex;
		align-items: center;
	}
	&__input-wrap {
		@include mt;
		margin-right: rem(10);
		font-size: rem(14);
		font-weight: 300;
		color: $gray-500;
		padding: rem(3) rem(10);
		background-color: $gray-100;
		border-radius: 16px;
		cursor: pointer;
		&:hover {
			background-color: $primary;
			color: #fff;
		}
		span {
			cursor: pointer;
		}
	}
	&__file-name {
		font-size: rem(14);
		line-height: calc(20 / 14);
	}
}
.input-upload {
	display: none;
}

.page-head {
	border-bottom: 1px solid #D3D3D3;
	background-color: #f5f5f5;
	.swiper {
		overflow: visible;
	}
	.breadcrumb {
		flex-wrap: nowrap;
		&-item {
			display: flex;
			align-items: center;
			a {
				font-weight: 300;
				line-height: 1.8;
				font-size: rem(14);
				@include media-breakpoint-up(lg) {
					font-size: rem(16);
				}
				&:not(:hover) {
					color: #151515;
				}
			}
		}
	}
}

.badge {
	@include media-breakpoint-down(lg) {
		--bs-badge-padding-x: #{rem(14)};
    --bs-badge-padding-y: #{rem(8)};
	}
	&-primary {
		background-color: $primary;
	}
}

.btn {
	--bs-btn-padding-y: #{rem(14.800)};
	--bs-btn-font-size: #{rem(14)};
	@include media-breakpoint-up(lg) {
    --bs-btn-padding-y: #{rem(16)};
		--bs-btn-font-size: #{rem(16)};
	}
	&-primary {
		--bs-btn-hover-bg: #4d4bea;
    --bs-btn-hover-border-color: #4d4bea;
	}
}

.gray-outline-btn {
	--bs-btn-color: #{$body-color};
	--bs-btn-border-color: #{$gray-300};
	display: flex;
	align-items: center;
	width: 100%;
	text-align: center;
	justify-content: center;
	@include media-breakpoint-up(lg) {
		--bs-btn-font-size: #{rem(18)};
		--bs-btn-padding-y: #{rem(23)};
	}

	.icon {
		font-size: rem(22);
		margin-left: rem(10);
		&-arrow-more {
			font-size: rem(16);
		}
		path {
			fill: currentColor;
		}
	}
	img {
		flex: 0 0 auto;
		margin-left: rem(10);
	}
}