// start .sCase
.sCase {
	--sPT: #{rem(40)};
	--sPB: #{rem(40)};
	--sTPB: #{rem(24)};
	background-color: #F9F9FA;
	@include media-breakpoint-up(lg) {
		--sPT: #{rem(60)};
		--sPB: #{rem(45)};
	}
	&__grid {
		display: grid;
		gap: rem(10);
		grid-template-columns: repeat(3,1fr);
		margin-bottom: rem(18);
		@include media-breakpoint-up(lg) {
			gap: rem(20);
			grid-template-columns: repeat(10,1fr);
			margin-bottom: rem(36);
		}
		&-item {
			grid-column: 1/span 3;
			@include media-breakpoint-up(lg) {
				grid-column: 1/span 8;
				grid-row: 1/span 6;
				&:nth-child(2) {
					grid-row: 1/span 2;
				}
				&:nth-child(3) {
					grid-row: 3/span 2;
				}
				&:nth-child(4) {
					grid-row: 5/span 2;
				}
			}
			&:not(:first-child) {
				@include media-breakpoint-up(lg) {
					grid-column: 9/span 2;
				}
			}
			&:nth-child(2) {
				@include media-breakpoint-down(lg) {
					grid-column: 1/span 1;
				}
			}
			&:nth-child(3) {
				@include media-breakpoint-down(lg) {
					grid-column: 2/span 1;
				}
			}
			&:nth-child(4) {
				@include media-breakpoint-down(lg) {
					grid-column: 3/span 1;
				}
			}
		}
	}
	&__wrap {
		aspect-ratio: 1/1;
		&--big-image {
			aspect-ratio: 941/701;
		}
		img {
			border-radius: rem(8);
			@include media-breakpoint-up(lg) {
				border-radius: rem(24);
			}
		}
	}
	&__row {
		--bs-gutter-y: #{rem(16)};

		align-items: center;
		max-width: rem(1022);
		margin-bottom: rem(30);
		@include media-breakpoint-up(lg) {
			margin-bottom: rem(60);
		}
	}
	&__item {
		display: flex;
		align-items: center;
		max-width: rem(207);
		font-weight: 300;
		font-size: rem(14);
		@include media-breakpoint-up(lg) {
			font-size: rem(16);
		}
		.icon {
			font-size: rem(30);
			flex: 0 0 auto;
			margin-right: rem(6);
		}
		p {
			margin-bottom: 0;
		}
		a {
			display: block;
			max-width: max-content;
			color: #A6A6A6;
			text-decoration: underline;
			&:hover {
				color: $primary;
			}
		}
	}
	&__footer-wrap {
		background-color: #fff;
		border-radius: 24px;
		border: 1px solid #F2F2EF;
		padding: rem(20);
		@include media-breakpoint-up(lg) {
			padding: rem(40);
		}
		.row {
			--bs-gutter-y: #{rem(12)};
		}
		h4 {
			display: inline;
			font-weight: 400;
			border-bottom: 1px solid $primary;
			line-height: 1.16;
			font-size: rem(18);
			@include media-breakpoint-up(lg) {
				font-size: rem(24);
			}
		}
		ul {
			margin-bottom: 0;
			list-style-type: none;
			max-width: rem(415);
			margin-top: rem(8);
			@include media-breakpoint-up(lg) {
				margin-top: rem(18);
			}
			li {
				font-weight: 300;
				line-height: 1.18;
				font-size: rem(14);
				@include media-breakpoint-up(lg) {
					font-size: rem(16);
				}
				&:before{
					content: '•';
					margin-right: rem(4);
				}
			}
		}
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sCase