mixin sPriceBlock(data)
	// start sPriceBlock
	+b.SECTION.sPriceBlock.section#sPriceBlock&attributes(attributes)
		.container
			mixin thead()
				thead
					tr
						th Услуга
						th Сроки
						th Стоимость
			mixin tr(service, deadline, price)
				tr 
					if service
						td
							!=service
							block
					td!= deadline
					td!= price
			+b.section-title
				h2 Наши цены
				p Конечная стоимость рассчитывается после консультации со специалистом.
			.tabs
				.tabs__caption.breadcrumb-slider--js
					.swiper-wrapper
						.tabs__btn.swiper-slide.active Перепланировка квартир
						.tabs__btn.swiper-slide Перепланировка нежилых
						.tabs__btn.swiper-slide Разработка проектов
						.tabs__btn.swiper-slide Согласование
						.tabs__btn.swiper-slide Юр. услуги
				.tabs__content.active
					table
						+thead()
						tbody
							+tr('Перепланировка квартиры &laquo;под ключ&raquo;', 'от 30 дней', 'от 80 000₽')
								ul 
									li Проект перепланировки
									li Техническое заключение
									li Распоряжение о&nbsp;согласованной перепланировке
									li Авторский надзор
									li Получение актов скрытых работ
									li Технический план
									li Получение акта о&nbsp;завершённой перепланировке
									li Внесение изменений в&nbsp;БТИ и&nbsp;ЕГРН
							+tr('Перепланировка квартиры в&nbsp;новостройке', 'от 25 дней', 'от 70 000₽')
								ul
									li Проект перепланировки
									li Техническое заключение 
									li Распоряжение о&nbsp;согласованной перепланировке
									li Авторский надзор
									li Получение актов скрытых работ
									li Получение акта о&nbsp;завершённой перепланировке
							+tr('Перепланировка квартиры в&nbsp;МО', 'от 30 дней', 'от 80 000₽')
								ul
									li Проект перепланировки
									li Распоряжение о&nbsp;согласованной перепланировке!
									li Авторский надзор
									li Получение актов скрытых работ
									li Получение акта о&nbsp;завершённой перепланировке
							+tr('Узаконить выполненную перепланировку', 'от 25 дней', 'от 70 000₽')
								ul
									li Техническое заключение 
									li Распоряжение о&nbsp;согласованной перепланировке
									li Получение акта о&nbsp;завершённой перепланировке
							+tr('Перевод из&nbsp;нежилого помещения в&nbsp;жилое', 'от 30 дней', 'от 95 000₽')
								ul
									li Заключение СЭС
									li Заключение БТИ
									li Экспертное заключение
									li Проект перепланировки
									li Согласование МЖИ 
									li Акт приемочной комиссии МЖИ 
									li Заявление в&nbsp;ДГИ 
									li Положительное решение комиссии 
									li Изготовление технического плана помещения
									li Внесение изменений в&nbsp;ЕГРН
							+tr('Перевод из&nbsp;жилого помещения в&nbsp;нежилое', 'от 30 дней', 'от 115 000₽')
								ul
									li Заключение СЭС
									li Заключение БТИ
									li Согласие соседних жилых помещений
									li Экспертное заключение
									li Проект перепланировки
									li Согласование МЖИ 
									li Акт приемочной комиссии МЖИ 
									li Заявление в&nbsp;ДГИ 
									li Положительное решение комиссии 
									li Изготовление технического плана помещения
									li Внесение изменений в&nbsp;ЕГРН
							+tr('Разработка проектной документации', 'от 8 дней', 'от 30 000₽')
								ul
									li Проект перепланировки
									li Техническое заключение
									li Архитектурно-градостроительный облик 
									li Архитектурно-градостроительное решение 
									li Отопление и&nbsp;вентиляция 
									li Водоснабжение и&nbsp;канализация 
									li Конструктивное решение
							+tr('Согласование проема в&nbsp;несущей стене', 'от 30 дней', 'от 115 000₽')
								ul
									li Заключение о&nbsp;техническом состоянии несущих конструкций
									li Проект перепланировки
									li Распоряжение о&nbsp;согласованной перепланировке
									li Авторский надзор
									li Усиление проема* (акты скрытых работ*)
									li Получение акта о&nbsp;завершённой перепланировке
							+tr('Объединение комнаты с&nbsp;кухней', 'от 5 дней', 'от 20 000₽')
								ul
									li Проект перепланировки
									li Техническое заключение
									li Распоряжение о&nbsp;согласованной перепланировке
									li Авторский надзор
									li Акты скрытых работ
									li Получение акта о&nbsp;завершённой перепланировке
							+tr('Объединение санузла', 'от 30 дней', 'от 115 000₽')
								ul
									li Проект перепланировки
									li Техническое заключение
									li Распоряжение о&nbsp;согласованной перепланировке
									li Авторский надзор
									li Акты скрытых работ
									li Получение акта о&nbsp;завершённой перепланировке
				.tabs__content
					table
						+thead()
						tbody
							+tr('Перепланировка нежилого помещения в&nbsp;жилом доме', 'от 30 дней', 'от 80 000₽')
								ul
									li Проект перепланировки
									li Техническое заключение 
									li Заключение от&nbsp;СЭС
									li Распоряжение о&nbsp;согласованной перепланировке
									li Авторский надзор
									li Получение актов скрытых работ
									li Получение акта о&nbsp;завершённой перепланировке
							+tr('Перепланировка нежилого помещения в&nbsp;нежилом доме', 'от 25 дней', 'от 70 000₽')
								ul
									li Проект перепланировки
									li Техническое заключение 
									li Технический план помещения
									li Внесение изменений в&nbsp;ЕГРН
									li Внесение изменений в&nbsp;БТИ
							+tr('Перепланировка нежилого помещения в&nbsp;МКД<br>с&nbsp;устройством входной группы', 'от 30 дней', 'от 80 000₽')
								ul
									li Проект перепланировки
									li Техническое заключение 
									li Заключение от&nbsp;СЭС
									li Собрание с&nbsp;жильцами
									li Распоряжение о&nbsp;согласованной перепланировке
									li Авторский надзор
									li Акты скрытых работ
									li Получение акта о&nbsp;завершённой перепланировке
							+tr('Переустройство входной группы', 'от 30 дней', 'от 80 000₽')
								ul
									li Проект перепланировки
									li Техническое заключение 
									li Заключение от&nbsp;СЭС
									li Собрание с&nbsp;жильцами
									li Распоряжение о&nbsp;согласованной перепланировке
									li Авторский надзор
									li Акты скрытых работ
									li Получение акта о&nbsp;завершённой перепланировке
							+tr('Переустройство фасада здания в&nbsp;жилом доме', 'от 30 дней', 'от 80 000₽')
								ul
									li Проект перепланировки
									li Техническое заключение 
									li Заключение от&nbsp;СЭС
									li Согласования в&nbsp;Москомархитектуре
									li Технический план
									li Внесение изменений в&nbsp;ЕГРН
							+tr('Перевод из&nbsp;нежилого помещения в&nbsp;жилое', 'от 30 дней', 'от 95 000₽')
								ul 
									li Заключение СЭС
									li Заключение БТИ
									li Экспертное заключение
									li Проект перепланировки
									li Согласование МЖИ 
									li Акт приемочной комиссии МЖИ 
									li Заявление в&nbsp;ДГИ 
									li Положительное решение комиссии 
									li Изготовление технического плана помещения
									li Внесение изменений в&nbsp;ЕГРН
							+tr('Перевод из&nbsp;жилого помещения в&nbsp;нежилое', 'от 30 дней', 'от 115 000₽')
								ul
									li Заключение СЭС
									li Заключение БТИ
									li Согласие соседних жилых помещений
									li Экспертное заключение
									li Проект перепланировки
									li Согласование МЖИ 
									li Акт приемочной комиссии МЖИ 
									li Заявление в&nbsp;ДГИ 
									li Положительное решение комиссии 
									li Изготовление технического плана помещения
									li Внесение изменений в&nbsp;ЕГРН
				.tabs__content
					table
						+thead()
						tbody
							+tr('Проект перепланировки', 'от 2 дней', 'от 15 000₽')
							+tr('Техническое заключение о&nbsp;допустимости перепланировки', 'от 4 дней', 'от 25 000₽')
							+tr('Проект объединения квартир', 'от 6 дней', 'от 20 000₽')
							+tr('Проект разделения квартиры', 'от 6 дней', 'от 20 000₽')
							+tr('Теплотехнический расчет', 'от 2 дней', 'от 10 000₽')
							+tr('Проектирование проема в&nbsp;стене', 'от 2 дней', 'от 15 000₽')
							+tr('Проектирование лестницы', 'от 2 дней', 'от 20 000₽')
							+tr('Проектирование входной группы/фасадов', 'от 8 дней', 'от 20 000₽')
				.tabs__content
					table
						+thead()
						tbody
							+tr('Согласование в&nbsp;БТИ', 'от 10 дней', 'от 40 000₽')
								ul
									li Внесение изменений в&nbsp;БТИ 
									li Устранение красных линий 
									li Запрос актуальных/архивных планов
							+tr('Согласование в&nbsp;МЖИ', 'от 10 дней', 'от 40 000₽')
								ul
									li Согласование перепланировки в&nbsp;квартире
									li Согласование переустройство фасада
									li Перевод нежилого (жилого) в&nbsp;жилое (нежилое)
							+tr('Согласование в&nbsp;Росреестре', 'от 10 дней', 'от 40 000₽')
								ul
									li Внесение изменений в&nbsp;ЕГРН 
									li Оформление прав собственности
									li Постановка на&nbsp;кадастровый учет
									li Согласование перепланировок в&nbsp;не&nbsp;жилых помещениях
							+tr('Согласование в&nbsp;Роспотребнадзоре', 'от 10 дней', 'от 40 000₽')
								ul
									li Получение экспертного заключения ФБУЗ &laquo;Центр гигиены и&nbsp;эпидемиологии&raquo;
									li Согласование строительства в&nbsp;санитарно-защитной зоне (СЗЗ)
									li Разработка проекта санитарно защитной зоны (СЗЗ) 
									li Сокращение санитарно защитной зоны (СЗЗ)
							+tr('Согласование в&nbsp;ДГИ', 'от 10 дней', 'от 40 000₽')
								ul
									li Перевод нежилого (жилого) в&nbsp;жилое (нежилое)
									li Изменение целевого назначения земельного участка
									li Оформление земельно-правовых отношений
							+tr('Согласование в&nbsp;Стройнадзоре', 'от 10 дней', 'от 40 000₽')
								ul
									li Оформление разрешительной документации
									li Уведомление о&nbsp;начале строительства
									li Уведомление об&nbsp;окончании строительства
							+tr('Согласование в&nbsp;Москомархитектуре', 'от 10 дней', 'от 40 000₽')
								ul
									li Согласования внешнего облика здания в&nbsp;соответствии с&nbsp;94&nbsp;ПП
									li Согласование архитектурно-строительного решения (АГР)
									li Получение ГПЗУ
									li Согласование изменений плана застройки земельного участка (ПЗЗ)
									li Согласование возможности сохранения самовольного объекта недвижимости (ГЗК)
							+tr('Согласование в&nbsp;Мосгаз', 'от 10 дней', 'от 40 000₽')
								ul
									li Акт о&nbsp;внутриквартирном газовом оборудовании
									li Справка Мосгаз
									li Схема газифицированных помещений
				.tabs__content
					table
						+thead()
						tbody
							+tr('Полное юридическое сопровождение', 'от 10 дней', 'от 40 000₽')
							+tr('Подготовка жалоб, обращений, экспертных заключений, исковых заявлений', 'от 10 дней', 'от 40 000₽')
							+tr('Приемка квартир в&nbsp;новостройке', 'от 10 дней', 'от 40 000₽')
							+tr('Сопровождение сделок с&nbsp;недвижимостью', 'от 10 дней', 'от 40 000₽')
							+tr('Легализация самовольной постройки и<br>представительство в&nbsp;суде', 'от 10 дней', 'от 40 000₽')
							+tr('Легализация самовольной постройки через ГЗК', 'от 10 дней', 'от 40 000₽')
							+tr('Исключение из&nbsp;819&nbsp;пп', 'от 10 дней', 'от 40 000₽')
							+tr('Признание дома жилым', 'от 10 дней', 'от 40 000₽')
	// end sPriceBlock